<div class="container body_main">
  <br>
  <div class="body_main_left">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">最新问答</a></li>
      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">最火问答</a></li>
      <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">等待问答</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

      <div role="tabpanel" class="tab-pane active" id="home">
        <br>
        <ul class="list-group body_list">
          <li class="list-group-item">
            <span class="badge bg_lan">14</span>
            <button type="button" class="btn bg_lan btn-primary btn-xs">点赞 <span>0</span></button>
            <button type="button" class="btn bg_lan btn-primary btn-xs">回答 <span>0</span></button>
            <span><a href="#">范海亮</a></span><span>3</span>分钟前发布
            <br>
            <div class="con">
              <div class="">
                <a href="/answer">爱上对面</a>
              </div>
            </div>
          </li>
        </ul>

        <ul class="list-group body_list">
          <li class="list-group-item">
            <span class="badge bg_lan">14</span>
            <button type="button" class="btn bg_lan btn-primary btn-xs">点赞 <span>0</span></button>
            <button type="button" class="btn bg_lan btn-primary btn-xs">回答 <span>0</span></button>
            <span>范海亮</span><span>3</span>分钟前发布
            <br>
            <div class="con">
              <div class="">
                爱上对方考虑就
              </div>
            </div>
          </li>
        </ul>

        <ul class="list-group body_list">
          <li class="list-group-item">
            <span class="badge bg_lan">14</span>
            <button type="button" class="btn bg_lan btn-primary btn-xs">点赞 <span>0</span></button>
            <button type="button" class="btn bg_lan btn-primary btn-xs">回答 <span>0</span></button>
            <span>范海亮</span><span>3</span>分钟前发布
            <br>
            <div class="con">
              <div class="">
                爱上对方考虑就
              </div>
            </div>
          </li>
        </ul>

        <ul class="list-group body_list">
          <li class="list-group-item">
            <span class="badge bg_lan">14</span>
            <button type="button" class="btn bg_lan btn-primary btn-xs">点赞 <span>0</span></button>
            <button type="button" class="btn bg_lan btn-primary btn-xs">回答 <span>0</span></button>
            <span>范海亮</span><span>3</span>分钟前发布
            <br>
            <div class="con">
              <div class="">
                爱上对方考虑就
              </div>
            </div>
          </li>
        </ul>

        <ul class="list-group body_list">
          <li class="list-group-item">
            <span class="badge bg_lan">14</span>
            <button type="button" class="btn bg_lan btn-primary btn-xs">点赞 <span>0</span></button>
            <button type="button" class="btn bg_lan btn-primary btn-xs">回答 <span>0</span></button>
            <span>范海亮</span><span>3</span>分钟前发布
            <br>
            <div class="con">
              <div class="">
                爱上对方考虑就
              </div>
            </div>
          </li>
        </ul>

        <ul class="list-group body_list">
          <li class="list-group-item">
            <span class="badge bg_lan">14</span>
            <button type="button" class="btn bg_lan btn-primary btn-xs">点赞 <span>0</span></button>
            <button type="button" class="btn bg_lan btn-primary btn-xs">回答 <span>0</span></button>
            <span>范海亮</span><span>3</span>分钟前发布
            <br>
            <div class="con">
              <div class="">
                爱上对方考虑就
              </div>
            </div>
          </li>
        </ul>

        <ul class="list-group body_list">
          <li class="list-group-item">
            <span class="badge bg_lan">14</span>
            <button type="button" class="btn bg_lan btn-primary btn-xs">点赞 <span>0</span></button>
            <button type="button" class="btn bg_lan btn-primary btn-xs">回答 <span>0</span></button>
            <span>范海亮</span><span>3</span>分钟前发布
            <br>
            <div class="con">
              <div class="">
                爱上对方考虑就
              </div>
            </div>
          </li>
        </ul>

        <ul class="list-group body_list">
          <li class="list-group-item">
            <span class="badge bg_lan">14</span>
            <button type="button" class="btn bg_lan btn-primary btn-xs">点赞 <span>0</span></button>
            <button type="button" class="btn bg_lan btn-primary btn-xs">回答 <span>0</span></button>
            <span>范海亮</span><span>3</span>分钟前发布
            <br>
            <div class="con">
              <div class="">
                爱上对方考虑就
              </div>
            </div>
          </li>
        </ul>

        <ul class="list-group body_list">
          <li class="list-group-item">
            <span class="badge bg_lan">14</span>
            <button type="button" class="btn bg_lan btn-primary btn-xs">点赞 <span>0</span></button>
            <button type="button" class="btn bg_lan btn-primary btn-xs">回答 <span>0</span></button>
            <span>范海亮</span><span>3</span>分钟前发布
            <br>
            <div class="con">
              <div class="">
                爱上对方考虑就
              </div>
            </div>
          </li>
        </ul>

        <ul class="list-group body_list">
          <li class="list-group-item">
            <span class="badge bg_lan">14</span>
            <button type="button" class="btn bg_lan btn-primary btn-xs">点赞 <span>0</span></button>
            <button type="button" class="btn bg_lan btn-primary btn-xs">回答 <span>0</span></button>
            <span>范海亮</span><span>3</span>分钟前发布
            <br>
            <div class="con">
              <div class="">
                爱上对方考虑就
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div role="tabpanel" class="tab-pane" id="profile">
        <br>
        <ul class="list-group body_list">
          <li class="list-group-item">
            <span class="badge bg_lan">14</span>
            <button type="button" class="btn bg_lan btn-primary btn-xs">点赞 <span>0</span></button>
            <button type="button" class="btn bg_lan btn-primary btn-xs">回答 <span>0</span></button>
            <span>范海亮</span><span>3</span>分钟前发布
            <br>
            <div class="con">
              <div class="">
                阿士大夫
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div role="tabpanel" class="tab-pane" id="messages">
        <br>
        <ul class="list-group body_list">
          <li class="list-group-item">
            <span class="badge bg_lan">14</span>
            <button type="button" class="btn bg_lan btn-primary btn-xs">点赞 <span>0</span></button>
            <button type="button" class="btn bg_lan btn-primary btn-xs">回答 <span>0</span></button>
            <span>范海亮</span><span>3</span>分钟前发布
            <br>
            <div class="con">
              <div class="">
                设呢
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>

  </div>
  <div class="yemian">
    <nav aria-label="Page" style="text-align:center">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
