<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>error</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/socket.io/1.7.3/socket.io.min.js"></script>
    <style media="screen">
      h1{
        color:rgb(8,151,242);
      }
    </style>
</head>
<body>
       <div class="container">
         <br><br><br>
         <h1>404</h1>
         <h1>对不起，您访问的页面暂时无法找到。</h1>
         <h2><a href="#">返回刚才的页面</a></h2>
         <h3><p>或者</p></h3>
         <h3><li><a href="/personal">我的主页</a></li></h3>
         <h3><li><a href="/">大家在说什么</a></li></h3>
       </div>
</body>
</html>
