
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}

a{text-decoration:none;}
body{
	background:#eee;
}

body{
	background: url('/images/bg3.jpg');
}

.main{
	margin: auto;
	margin:7em auto 0;
	width:80%;
	background:;
}
.header {
	text-align:center;
	padding:1.3em;
}
.header h1 {
	color:#272727;
	font-weight:700;
	font-size:22px;
}
.main p{
	text-align: center;
	font-size:15px;
	font-weight:600;
	color:#383737;
	padding: 20px 30px;
	border-bottom: 1px solid #E7E0E0;
	margin-top: -13px;
}
.main h2{
	text-align:left;
	font-size:17px;
	font-weight:600;
	margin:15px 3px;
	color:#3F3D3D;
}

.form{
	margin:auto;;
	width:40%;
}
.form input[type=text],.form input[type=email],.form input[type=password] {
	width:80%;
	padding: 0.7em 2em 0.7em 1em;
	border:none;
	color: #000;
	font-size:15px;
	outline: none;
}

form{
	padding-bottom: 2em;
}
.account_test{
	margin-left:10px;
}
.form li{
	display:block;
	color:#4D4949;
	border-radius: 0.3em;
	-webkit-border-radius:0.3em;
  	-moz-border-radius:0.3em;
 	 -o-border-radius:0.3em;
 	 margin-bottom: 10px;
}

 input[type=submit]:hover {
 cursor: pointer;
}
.form > label {
	font-size:13px;
	float:left;
	vertical-align: super;
	margin-left:10px;
	color:#4C4A4A;
	margin-top:2px;
	font-weight: 600;
}
